body {
    background-color: ghostwhite;
}

input {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
}

textarea {
    background-color: #ffd2b0;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
}

#login_in_egistration {
    justify-content: center;
    align-items: center;
    margin-top: 5px;
    margin-left: 760px;
}
