body {
    background-color: grey;
}

#registration {
    margin-top: 200px;
    margin: 0 auto;
    width: 800px;
}
#login_in_egistration {
    width: 50px;
    height: 20px;
    background: #999;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

#rest_in_egistration {
    width: 100px;
    height: 20px;
    background: #999;
    display: inline-block;
    vertical-align: top;
    margin-top: 5px;
}

.login {
    margin-top: 200px;
    margin: 0 auto;
    width: 200px;
}

#logo {
    justify-items: center;
    size: 20px;
}

.submitReg {
    position: fixed;
    margin-top: 10px;
    margin-left: 350px;
    width: 20px;
    margin-top: 10px;
}

.loginBtn {
    position: fixed;
    margin-top: 1px;
    margin-left: 60px;
    width: 20px;
    height: 5px;
}

input {
    background-color: white;
    font-family: "Times New Roman", Times, serif;
    height: 20px;
    font-size: 15px;
    padding: 5px;
    margin-right: 10px;
}

input:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
}

textarea {
    background-color: #ffd2b0;
    font-family: "Space Mono", monospace;
    font-size: 15px;
    resize: none;
}

textarea:focus {
    outline: none;
    border: 1px solid blue;
    box-shadow: 0 0 5px blue;
}

/* /*___________ */

.on-reset h1 {
    font-size: 40px;
    color: black;
    text-shadow: -1px 1px 0 white, 1px -1px 0 white, 1px 1px 0 white,
        -1px -1px 0 white;
    margin: 0 0 20px 0;
}

.on-reset input {
    background-color: rgba(0, 0, 0, 0.219);
    color: white;
    text-align: center;
    border-radius: 5vh;
    border-color: transparent;
    border-style: solid;
    margin: 10px;
    width: 200px;
    height: 40px;
}

.on-reset {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    color: white;
    margin: auto;
}

.error {
    color: crimson;
}

.logo {
    width: 300px;
    height: 300px;
    margin: 0 auto;
    align-items: center;
}

.logo_container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.logoInimg {
    margin: 1rem;
    width: 150px;
    height: 150px;
}

/*  _______________________________ */

#app-logo img {
    position: absolute;
    width: 80px;
    height: 80px;
    margin-top: 0px;
    margin-left: 1600px;
}

#containerUploader {
    position: fixed;
    background-color: rgb(226, 226, 200);
    color: black;
    width: 550px;
    height: 150px;
    text-align: center;
}

#appContainer {
    display: flex;
    justify-content: space-between;
}

#upload {
    position: absolute;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-top: 0;
    float: left;
}

/*  _______________________________ */
#profileContainer {
    position: relative;
    text-align: center;
    width: 200px;
    margin-right: 850px;
    margin-top: 100px;
}

#profileContainer img {
    display: flex;
    width: 300px;
    height: 300px;
    object-fit: cover;
}

img {
    display: flex;
    width: 80px;
    height: 80px;
    margin-top: 12px;
}

/*  _______________________________ */

#findPPL {
    margin-top: 200px;
    margin: 0 auto;
    width: 200px;
}

/*  _______________________________ */

/* friendsbutton*/
/*  _______________________________ */


/* friends*/
/*  _______________________________ */